<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Hello {{name}}</h2>
    <p>You have been added to <b>{{hood | title}}</b> neighbourhood by your admin <b>{{admin | title}}.</b>Use the credentials below to log into your account after which you can change your password and update your profile.</p>
    <ul>
        <li><b>Username:</b> {{username}}</li>
        <li><b>Password:</b> {{password}}</li>
    </ul>
    <p>Enjoy!</p>
    <h4>MyNeighbourhood Management (2020)</h4>
</body>
</html>