{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}
{% block styles %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock %}

{% block content %}
{{block.super}}

<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">
        <p>{{ message }} Please try again.>profile</a>.</p>
    </div>
    {% endfor %}
    {% endif %}
    <h1>Change Password</h1>
    <form action="{%url 'change-password'%}" method="post">
        {%csrf_token%}
        {% bootstrap_form form%}
        <input type="submit" class="btn btn-info" value="Change Password">
    </form>
</div>

{% endblock %}