{%extends "django_registration/base.html"%}
{% load bootstrap3 %}
{% block content %}

<div class="container">
  <h1 class="text-center title-font">MyNeighbourhood</h1>
  <h2 class="text-center">Sign up to set up an account as a neighbourhood administrator</h2>
  <form action="/accounts/register/" method="post">
    {% csrf_token %}
    {% bootstrap_form form%}
    <div class="form-group">
      <br>
      <input type="submit" class="btn btn-info" value="Sign up">
    </div>
    <input type="hidden" name="next" value="{{next}}">
  </form>
  <p>Have an account? <a href="/accounts/login">Log in</a></p>
</div>

{% endblock %}