{%extends "../django_registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-warning" role="alert">
    <p>{{ message }} Please sign in.</a>.</p>
  </div>
  {% endfor %}
  {% endif %}
  <h1 class="text-center title-font">MyNeighbourhood</h1>
  <h2>LOGIN</h2>
  <form action="/accounts/login/" method="post">
    {% csrf_token %}
    {% bootstrap_form form%}
    <div class="form-group">
      <br>
      <input type="submit" class="btn btn-info" value="Log In">
    </div>
    <input type="hidden" name="next" value="{{next}}">
  </form>
  <p class="text-center">Don't have an account?<a href="/accounts/register"> Register here</a></p>
</div>
{% endblock %}